[Unit]
Description=Gunicorn uWSGI for wordle-srv.inet.tu-berlin.de backend
After=network.target

[Service]
User=wordle
Group=www-data
Environment="PATH=/home/wordle/.local/bin"
WorkingDirectory=/home/wordle/wordle-srv.inet.tu-berlin.de/backend
ExecStart=gunicorn --bind unix:backend.sock -m 007 wsgi:app